<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs template view</title>
  </head>

  <body>
    <%- include('partials/navigation'); -%>
    <h1>Ejs Login</h1>
    <ul>
      <% credentials.forEach(function (cred) { %>
      <li>
        <%= cred.name %>
      </li>
      <li>
        <%= cred.password %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
